* {
  box-sizing: border-box;
  position:relative;
  font-family: serif;
}

body{
  background-color: #F6E7D5;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 0.5fr 0.4fr 0.4fr 0.4fr 0.4fr;
}

.previous, .next, .year {
  background-color: #337A00;
  font-size: 60px;
  padding: 2%;
}

.previous {
  border: 1px solid #F6E7D5;
  text-align: center;
  padding: 60px;
/*   padding: 100px 20px; */
}

.year {
  border: 1px solid #F6E7D5;
  text-align: center;
  grid-area: 1/2/2/7;
/*   padding: 100px 20px; */
}

.next {
  border: 1px solid #F6E7D5;
  text-align: center;
  padding: 60px;
/*   padding: 100px 20px; */
}

.weekDay, .item, .item-p{
  text-align: center;
  padding: 15px;
  font-size: 25px;
  border: 2px solid #F6E7D5;
  background-color: #EBF7E3;
}

.weekDay {
  background-color:#66B032 ;
  font-size: 2em;
}


.item1 {
  background-color: #F6E7D5;
  height: 200px;
  width: 500px;
}

.item2 {
  background-color: green;
  height: 200px;
  width: 500px;
}

.item3 {
  background-color: #F6E7D5;
  height: 200px;
  width: 500px;
}

#calendarCarousel{
  grid-area: 1/1/2/8;
}

.previous, .next {
  font-size: 60px;
  color: #F6E7D5;
}

/*
.container > .item {
  border: 1px solid red;
  text-align: center;
  padding: 25px 20px;
}

.item-p {
  border: 1px solid red;
  text-align: center;
  padding: 20px;
} */
